<!-- Questions table mini -->
    <table class="table table-fixed text-center w-75 h-25 mx-auto mt-3 mb-5" id="questionsTableMini">
        <thead>
            <tr class="text-light bg-success" style="border-bottom:1px dotted #888;">
                <th id='questionsTableMiniTh' style="cursor:help; padding:.75rem;">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Metrics filter">
                        <!-- <input type="radio" class="btn-check" name="metric" id="metric-dsla" autocomplete="off" checked />
            <label class="btn btn-outline-success " for="metric-dsla">DSLA</label> -->

                        <input type="radio" class="btn-check" name="metric" id="metric-pmgd" autocomplete="off" />
                        <label class="btn btn-outline-success" for="metric-pmgd">LaMI</label>

                        <input type="radio" class="btn-check" name="metric" id="metric-pmgx" autocomplete="off"
                            checked />
                        <label class="btn btn-outline-success" for="metric-pmgx">PMG-X</label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="questionsTableMiniBody"></tbody>
    </table>
